* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  min-height: 100vh;
  color: #ffff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  height: 100%;
  width: 20rem;
  border-radius: 1rem;
  margin: 2rem auto;
  overflow: hidden;
  padding: 1.2rem 0px;
  gap: 0.3rem;
}

button {
  height: 3rem;
  width: 3rem;
  border: none;
  background-color: transparent;
  box-shadow: white 0px 0px 10px;
  margin: 0.5rem;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 10px;
}

button:hover {
  box-shadow: white 0px 0px 15px;
  font-size: 1.5rem;
}
.calculater {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  font-size: 1.9rem;
  font-weight: 500;
  text-align: end;
  height: 4rem;
  width: 80%;
  color: white;
  box-shadow: white 0px 0px 10px;
  border-radius: 0.9rem;
  margin: 0.8rem;
  padding-right: 1rem;
}